<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<!--<suite name="Sample Suite">-->
<!--    <test name="Sample Tests">-->
<!--        <classes>-->
<!--            <class name="com.stb.magneto.runners.STBTestRunnerTest"/>-->
<!--        </classes>-->
<!--    </test>-->
<!--</suite>-->

<suite name="Suite">
    <test name="Magneto Test">
        <classes>
            <class name="com.stb.magneto.runners.AccountCreationRunnerTest"/>
            <class name="com.stb.magneto.runners.LoginRunnerTest"/>
        </classes>
    </test>
</suite>

